<div class="tab-pane" id="emboss-station" role="menu">
	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper" style="min-height: 806px;">
	  <!-- Content Header (Page header) -->
	  <div class="content-header">
		<div class="container-fluid">
		  <div class="row mb-2">
			<div class="col-sm-6">
			  <h1 class="m-0 text-dark">Embossing Station Master</h1>
			</div><!-- /.col -->
		  </div><!-- /.row -->
		</div><!-- /.container-fluid -->
	  </div>
	  <!-- /.content-header -->

	  <!-- Main content -->
	  <section class="content">
		<div class="container-fluid">
		  <div class="card card-tabs shadow">
			<div class="card-header p-0 pt-1 border-bottom-0 tab">
			  <ul class="nav nav-tabs" id="emboss-two-tab" role="tablist">
				<li class="nav-item">
				  <a class="nav-link active" id="emboss-two-station-tab" data-toggle="pill" href="#emboss-two-station" role="tab" aria-controls="emboss-two-station" aria-selected="true">Embossing Station</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" id="emboss-two-list-tab" data-toggle="pill" href="#emboss-two-list" role="tab" aria-controls="emboss-two-list" aria-selected="false">List of Embossing Station</a>
				</li>
			  </ul>
			</div>
			<div class="card-body pt-4 pb-5 pl-4 pr-4">
			  <!-- Tab Content -->
			  <div class="tab-content" id="emboss-two-tabContent">
				<div class="tab-pane fade show active" id="emboss-two-station" role="tabpanel" aria-labelledby="emboss-two-station-tab">
				  <th:block th:if="${EmbossingStationMasterHtml}">
				  <div id="embossFirst">
				  <form id="EmbossingStationMaster" th:object="${embossingStationMasterObj}">
				  <input type="hidden" class="form-control" th:field="*{id}" id="enter-emboss-station-master-id" aria-describedby="enter zone name">                 
				  <div class="add-master d-sm-flex flex-sm-column">
					<div class="state form-group row justify-content-xl-start justify-content-between">
					  <div class="col-sm-6 row ml-0 mb-3 mr-md-1">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Select State</span>
						<select class="col-xl-7 p-0 form-control" th:field="*{stateId}" id="select-emboss-state-name">
						   <option th:value="0">Select State Name</option>
						   <option th:each="stateMaster : ${stateMasterList}"
									 th:value="${stateMaster.id}"
									 th:text="${stateMaster.stateName}">
							 </option>
						</select>
						<span style="color:red;" th:id="select-emboss-state-name-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Zone</span>
						<select class="col-xl-7 p-0 form-control" th:field="*{zoneId}" id="select-emboss-zone-name">                              
							 <option th:value="0">Select Zone Name</option>
							   <option th:each="zoneMaster : ${zoneMasterList}"
										 th:value="${zoneMaster.id}"
										 th:text="${zoneMaster.zoneName}">
								 </option>
						</select>
						<span style="color:red;" th:id="select-emboss-zone-name-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3 mr-md-1">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Emboss Station Name</span>
						<input type="text" class="col-xl-7 form-control" th:field="*{stationName}" id="enter-emboss-station-name" placeholder="Enter Emboss Station Name">
					  <span style="color:red;" th:id="enter-emboss-station-name-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Constact Person Name</span>
						<input type="text" class="col-xl-7 form-control" th:field="*{contactPerson}" id="enter-emboss-contact-person" placeholder="Enter Constact Person Name">
					  <span style="color:red;" th:id="enter-emboss-contact-person-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3 mr-md-1">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Phone Number</span>
						<input type="number" class="col-xl-7 form-control" th:field="*{phoneNumber}" id="enter-emboss-phone" placeholder="Enter Phone Number">
					 <span style="color:red;" th:id="enter-emboss-phone-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Email Id</span>
						<input type="text" class="col-xl-7 form-control" th:field="*{emailId}" id="enter-emboss-email" placeholder="Enter Email ID">
					  <span style="color:red;" th:id="enter-emboss-email-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3 mr-md-1">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Address Line 1</span>
						<input type="text" class="col-xl-7 form-control" th:field="*{addressLine1}" id="enter-emboss-address-first" placeholder="Enter Address Line 1">
					  <span style="color:red;" th:id="enter-emboss-address-first-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Address Line 2</span>
						<input type="text" class="col-xl-7 form-control" th:field="*{addressLine2}" id="enter-emboss-address-second" placeholder="Enter Address Line 2">
					  <span style="color:red;" th:id="enter-emboss-address-second-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3 mr-md-1">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Google Map Location</span>
						<input type="text" class="col-xl-7 form-control" th:field="*{gMap}" id="enter-emboss-google-loc" placeholder="Enter Google Location">
					  <span style="color:red;" th:id="enter-emboss-google-loc-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">City</span>
						<select class="col-xl-7 p-0 form-control" th:field="*{cityId}" id="select-emboss-city-name">
						   <option th:value="0">Select City Name</option>
						   <option th:each="cityMaster : ${cityMasterList}"
									 th:value="${cityMaster.id}"
									 th:text="${cityMaster.cityName}">
							 </option>
						</select>
					  <span style="color:red;" th:id="select-emboss-city-name-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3 mr-md-1">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Embossing Station code</span>
						<input type="text" class="col-xl-7 form-control" th:field="*{stationCode}" id="enter-emboss-station-code" placeholder="Enter Emboss Station Code">
					  <span style="color:red;" th:id="enter-emboss-station-code-note"></span>
					  </div>
					  <div class="col-sm-6 row ml-0 mb-3">
						<span for="item-type" class="col-form-label col-xl-3 pt-xl-0 pl-0 min-we-11">Station Capacity(or ders/day)</span>
						<input type="text" class="col-xl-7 form-control" th:field="*{dailyCapacity}" id="enter-emboss-station-cap" placeholder="Enter Station Capacity">
					  <span style="color:red;" th:id="enter-emboss-station-cap-note"></span>
					  </div>
					  <div class="col-sm-4 row ml-0 mb-3">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Max Order Level(days)</span>
						<input type="text" class="col-xl-5 form-control" th:field="*{maxReorderLevelDays}" id="enter-emboss-max-order" placeholder="Enter Max Order Level">
					  <span style="color:red;" th:id="enter-emboss-max-order-note"></span>
					  </div>
					  <div class="col-sm-4 row ml-0 mb-3">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Reorder Level(days)</span>
						<input type="text" class="col-xl-5 form-control" th:field="*{reorderLevelDays}" id="enter-emboss-reorder" placeholder="Enter Reorder Level">
					  <span style="color:red;" th:id="enter-emboss-reorder-note"></span>
					  </div>
					  <div class="col-sm-4 row ml-0 mb-3 pr-xl-3">
						<span for="item-type" class="col-form-label col-sm-3 pl-0 min-we-11">Min Order Level(days)</span>
						<input type="text" class="col-xl-5 form-control" th:field="*{minReorderLevelDays}" id="enter-emboss-min-order" placeholder="Enter Min Order Level">
					  <span style="color:red;" th:id="enter-emboss-min-order-note"></span>
					  </div>
					</div>
					<button type="button" class="col-xl-2 col-lg-3 col-sm-4 btn btn-success shadow mb-auto ml-auto mr-auto" onclick="ajaxPost('EmbossingStationMaster','http://localhost:8080/getAdminPage/saveEmbossingStationMaster','emboss-station','emboss-station','http://localhost:8080/getAdminPage/EmbossingStationMaster');">Add to Master</button>
				  </div>
				  </form>                     
				  </div>
				  </th:block>
				</div><!-- /.Tab Pan -->
				<div class="tab-pane fade" id="emboss-two-list" role="tabpanel" aria-labelledby="emboss-two-list-tab">
				  <div id="embossTwo">
				  <th:block th:if="${EmbossingStationMasterTwoHtml}">
				  <div class="master-list mt-4">
					<label for="emboss-list">Embossing Stations Added To Master</label>
					<div class="float-right">
						   <label for="name">Search: </label>
						   <input type="text" id="searchParamEmbossing" style="text-align:left">
						   <button type="button" class="btn btn-success" onclick="pageButtonClick('0', 'searchParamEmbossing','EmbossingStationMaster','EmbossingPageNo','Embossingtbl','Embossingtbl');">search</button>
					   </div>
					<div id="Embossingtbl">
					<div class="master-table table-responsive">
					  <table class="table table-striped table-hover table-bordered">
						<thead>
						  <tr>
						   <!-- <th scope="col-lg">SL.No.</th> -->
							<th scope="col-lg">Station Code</th>
							<th scope="col-lg">Station Name</th>
							<th scope="col-lg">Contact Person</th>
							<th scope="col-lg">Phone Number</th>
							<th scope="col-lg">Capacity</th>
							<th scope="col-lg">Order levels</th>
							<th scope="col-lg">Edit</th>
						  </tr>
						</thead>
						<tbody>
						  <!-- <tr>
							<th scope="row">01</th>
							<td>WB-01-Topsia</td>
							<td>Topsia</td>
							<td>R Singh</td>
							<td>+910264654646</td>
							<td>800</td>
							<td></td>
							<td><i class="fa fa-edit" href="#"></i></td>
						  </tr>  -->
						  <tr th:each="embossingStationMaster, stat : ${genericList}">
							  <!-- <th th:text="${stat.index}">01</th> -->
							  <td th:text="${embossingStationMaster.stationCode}">PlateColor</td>
							  <td th:text="${embossingStationMaster.stationName}">PlateColor</td>                                                  
							  <td th:text="${embossingStationMaster.contactPerson}">PlateColor</td>                                                  
							  <td th:text="${embossingStationMaster.phoneNumber}">PlateColor</td>                                                  
							  <td th:text="${embossingStationMaster.dailyCapacity}">PlateColor</td>                                                  
							  <td th:text="${embossingStationMaster.reorderLevelDays}">PlateColor</td>                                                  
							  <td><i class="fa fa-edit" href="#"></i></td>
						   </tr>                        
						</tbody>
					  </table>
					</div>
					<!-- <input type="hidden" th:value="${genericList.number}" id="EmbossingPageNo" /> -->
					  <!-- <div class="pagination-div"> -->
							<!-- <span th:if="${genericList.hasPrevious()}"> -->
								<!-- <a th:value="${genericList.number-1}"  onclick="pageButtonClick(this, 'searchParamEmbossing', 'EmbossingStationMaster','EmbossingPageNo','Embossingtbl','Embossingtbl');">Previous</a> -->
							<!-- </span> -->
							<!-- <th:block th:each="i: ${#numbers.sequence(0, genericList.totalPages - 1)}"> -->
								<!-- <span th:if="${genericList.number == i}" class="selected">[[${i}+1]]</span> -->
								<!-- <span th:unless="${genericList.number == i}"> -->
									 <!-- <a th:value="${genericList.number}"  onclick="pageButtonClick(this, 'searchParamEmbossing', 'EmbossingStationMaster','EmbossingPageNo','Embossingtbl','Embossingtbl');">[[${i}+1]]</a> -->
								<!-- </span> -->
							<!-- </th:block> -->
							<!-- <span th:if="${genericList.hasNext()}"> -->
								<!-- <a th:value="${genericList.number+1}" onclick="pageButtonClick(this, 'searchParamEmbossing', 'EmbossingStationMaster','EmbossingPageNo','Embossingtbl','Embossingtbl');">Next</a> -->
							<!-- </span> -->
						<!-- </div> -->
					</div>                       
				  </div>
				  </th:block>
				  </div>
				</div><!-- /.Tab Pan -->
			  </div><!-- /.Tab Content -->
			</div>
			<!-- /.card -->
		  </div>
		</div><!-- /.container-fluid -->
	  </section>
	  <!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
</div> <!-- Embossing Station Master -->
<script src="admin-master/pages/emboss-station-master/emboss-station-master.js"></script>